* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.section {
	min-height: 100vh;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.wrap-block {
	margin-top: 20%;
	color: #fff;
}